@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: 'Inter', sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
  font-size: 1.125rem !important;
}

.react-calendar__tile--now {
  background: #fefce8 !important;
}

.react-calendar__tile--active {
  background-color: #f9e79f !important;
  color: #000 !important;
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #ddd !important;
}
